body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;         /* center everything */
    margin-top: 100px;
    margin-bottom: 200px;
}

.container {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.player {
    background: rgb(44, 44, 44);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.upload {
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
}

button {
    background: rgb(25, 163, 25);    /* spotify-themed colours */
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    cursor: pointer;        /* responsiveness */
}

button:hover {
    background: green;      /* change colour on hover for responsiveness */
}

.progress-container {
    background: grey;
    height: 8px;
    border-radius: 5px;     /* rounded corners to make it look good */
    margin: 15px 0;         
    cursor: pointer;        /* responsiveness: the sequel */
    position: relative;
}

.progress {
    background: lightgreen;    
    height: 100%;               /* always fill parent container's height */
    width: 0%;                  /* default width is 0, we expand it in JS as the song plays */
    border-radius: 5px;         /* the elements are separate so have to round these manually as well */ 
}

.time {
    display: flex;
    justify-content: space-between;   /* current time and audio length at opposite ends */
    font-size: 12px;
    color: lightgray;
}

.volume-container {             /* volume elements styling */
    max-width: 150px;
    margin-top: 20px;
    display: flex; 
    align-items: center; 
    gap: 8px; 
    margin-bottom: 10px;
}

.volume-container label {
    color: lightgray; 
    font-size: 13px;
}

.volume-container input[type="range"] {
    width: 100%;
    accent-color: lightgreen;
    margin: 0 5px;
}

#volumeSlider {
    flex: 1;
}

#muteBtn {
    background: none; 
    border: none; 
    padding: 0; 
    margin-left: 5px; 
    cursor: pointer;
}
